@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  background-color: #c9e1ef;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em;
  background-color: #00203e;
  color: white;
}

.header-container h2 {
  color: #82cffc;
  font-family: "poppins";
  font-weight: 900;
  font-size: 1.8em;
}

/* .icon-container {
  border-radius: 10px;
  background: #4f98bf;
  box-shadow: 31px 31px 61px #777777, -31px -31px 61px #ffffff;
  text-align: center;
} */

.icon-holder {
  font-size: 42px;
}

.icon-holder:hover {
  font-size: 45px;
  color: #85cbf3;
  transition: font-size 200ms;
  transition-timing-function: ease-in;
}

.container {
  max-width: 950px;
  margin: 20px auto;
}

.card {
  text-align: center;
  padding: 1em 3.5em;
  margin: 25px 35px;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 1.7px 2.4px 21px -34px rgba(0, 0, 0, 0.062),
    4.3px 6.2px 27.1px -34px rgba(0, 0, 0, 0.089),
    8.9px 12.6px 28.1px -34px rgba(0, 0, 0, 0.111),
    18.3px 25.9px 28.5px -34px rgba(0, 0, 0, 0.138),
    50px 71px 40px -34px rgba(0, 0, 0, 0.2); */
  box-shadow: 0.1px 0.1px 4.5px -9px rgba(0, 0, 0, 0.07),
    0.9px 0.8px 9.4px -9px rgba(0, 0, 0, 0.118),
    2.6px 2.2px 15.2px -9px rgba(0, 0, 0, 0.158),
    6.2px 5.2px 23.4px -9px rgba(0, 0, 0, 0.197),
    14.4px 12.1px 36.8px -9px rgba(0, 0, 0, 0.243),
    43px 36px 56px -9px rgba(0, 0, 0, 0.36);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
}

.container .cards-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card h2 {
  font-weight: 600;
  font-size: 2.8rem;
}

.card h3 {
  font-family: "Readex Pro", sans-serif;
  color: #063056;
  font-weight: 600;
  font-size: 1.4rem;
}

.card p {
  font-family: "Readex Pro", sans-serif;
  color: rgb(25, 24, 24);
}

.card-link-style {
  text-decoration: none;
}

.todo-detail-container {
  max-width: 900px;
  margin: 0 auto;
}

.todo-detail-container h2 {
  font-family: "Readex Pro";
  color: #063056;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.todo-list-card {
  border-radius: 8px;
  margin: 15px;
  background-color: aliceblue;
  padding: 1em 1em;
  align-items: center;
  box-shadow: 0px 0.1px 20.8px -23px rgba(0, 0, 0, 0.041),
    0.1px 0.6px 31.6px -23px rgba(0, 0, 0, 0.069),
    0.2px 1.7px 38.7px -23px rgba(0, 0, 0, 0.092),
    0.6px 3.9px 44.8px -23px rgba(0, 0, 0, 0.115),
    1.3px 9.1px 50.5px -23px rgba(0, 0, 0, 0.142),
    4px 27px 56px -23px rgba(0, 0, 0, 0.21);
}
/* 
.todo-list-card input {
  display: inline;
  margin: 0 20px;
} */

.todo-list-card p {
  display: inline;
  font-family: "Readex Pro", sans-serif;
  color: #063056;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 20px;
}

.strike-todo {
  text-decoration: line-through;
}

.todo-checkbox {
  height: 20px;
  width: 40px;
}
